<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.singun.openvpn.client">

    <!--<uses-permission android:name="android.permission.BLUETOOTH" />-->
    <!--<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />-->
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.KILL_BACKGROUND_PROCESSES" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-permission android:name="android.permission.PROCESS_OUTGOING_CALLS"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="Android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.DISABLE_KEYGUARD"></uses-permission>
    <!-- 读取手机状态的权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- 读content的权限 -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="a"/>
    <permission
        android:name="com.singun.openvpn.permission.READ_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="normal"
        android:label="@string/permlab_read_settings"
        android:description="@string/permdesc_read_settings"/>
    <permission
        android:name="com.singun.openvpn.permission.WRITE_SETTINGS"
        android:permissionGroup="android.permission-group.SYSTEM_TOOLS"
        android:protectionLevel="signatureOrSystem"
        android:label="@string/permlab_write_settings"
        android:description="@string/permdesc_write_settings"/>

    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.READ_SETTINGS" />
    <uses-permission android:name="com.android.launcher3.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.SET_WALLPAPER_HINTS" />

    <uses-permission android:name="android.permission.BIND_ACCESSIBILITY_SERVICE" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.FOCE_STOP_PACKAGES" />
    <permission android:name="android.permission.MODIFY_PHONE_STATE"
        android:permissionGroup="android.permission-group.PHONE_CALLS"
        android:protectionLevel="signatureOrSystem"
        android:label="@string/permlab_modifyPhoneState"
        android:description="@string/phonestate"/>

    <!--注意这里：添加权限**获取正在运行的程序权限-->
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions"/>

    <!--这里是配置个推申请权限-->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <!-- 支持iBeancon 需要蓝牙权限 -->
    <uses-permission android:name="android.permission.BLUETOOTH"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <!-- 支持个推3.0 电子围栏功能 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <!-- 浮动通知权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <uses-permission android:name="getui.permission.GetuiService.${applicationId}"/>

    <permission android:name="android.permission.MASTER_CLEAR" />

    <permission
        android:name="getui.permission.GetuiService.${applicationId}"
        android:protectionLevel="normal"/>

    <application
        android:backupAgent="com.singun.openvpn.LauncherBackupAgent"
        android:fullBackupOnly="true"
        android:fullBackupContent="@xml/backupscheme"
        android:hardwareAccelerated="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="@bool/config_largeHeap"
        android:restoreAnyVersion="true"
        android:supportsRtl="true">
        <!--android:sharedUserId="android.uid.system"-->
        <!--android:name=".MainApplication"-->
        <!--android:allowBackup="true"-->
        <!--android:icon="@mipmap/ic_launcher"-->
        <!--android:label="@string/app_name"-->
        <!--android:supportsRtl="true"-->
        <!--android:theme="@style/AppTheme">-->


        <!--<activity-->
            <!--android:name="com.singun.openvpn.ui.MainActivity"-->
            <!--android:label="@string/app_name"-->
            <!--android:theme="@style/AppTheme.NoActionBar" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            <!--</intent-filter>-->
        <!--</activity>-->
        <!--<meta-data-->
            <!--android:name="com.baidu.lbsapi.API_KEY"-->
            <!--android:value="F078TKe297BbzSIDaWXVLOgktHUmdoBC" />-->

        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="0tDiPgvGGXqnmjk1RcHKVKA7YS6OzGcm" />

        <activity
            android:name="com.singun.openvpn.Launcher"
            android:launchMode="singleTask"
            android:clearTaskOnLaunch="true"
            android:stateNotNeeded="true"
            android:theme="@style/LauncherTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="nosensor"
            android:configChanges="keyboard|keyboardHidden|navigation"
            android:resumeWhilePausing="true"
            android:taskAffinity=""
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.HOME" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.MONKEY"/>
            </intent-filter>
        </activity>

        <!--
        The settings activity. When extending keep the intent filter present
        -->
        <activity
            android:name="com.singun.openvpn.SettingsActivity"
            android:label="@string/settings_button_text"
            android:autoRemoveFromRecents="true">
            <intent-filter>
                <action android:name="android.intent.action.APPLICATION_PREFERENCES" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!--
        The settings provider contains Home's data, like the workspace favorites. The permissions
        should be changed to what is defined above. The authorities should also be changed to
        represent the package name.
        -->
        <provider
            android:name="com.singun.openvpn.LauncherProvider"
            android:authorities="com.singun.openvpn.settings"
            android:exported="true"
            android:writePermission="com.singun.openvpn.permission.WRITE_SETTINGS"
            android:readPermission="com.singun.openvpn.permission.READ_SETTINGS" />

        <!--<activity-->
            <!--android:name="com.singun.openvpn.ui.MainSActivity"-->
            <!--android:launchMode="singleTask">-->

            <!--<intent-filter>-->

                <!--<action android:name="android.intent.action.MAIN" />-->

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
                <!--<category android:name="android.intent.category.HOME" />-->
                <!--<category android:name="android.intent.category.DEFAULT" />-->
            <!--</intent-filter>-->


        <!--</activity>-->
        <activity
            android:name="com.singun.openvpn.ui.EgSpeechActivity"
            android:launchMode="singleTask">


        </activity>
        <!--<activity-->
            <!--android:name="com.singun.openvpn.service.IncomingCallActivity"-->
            <!--android:theme="@style/Theme.Transparent"-->
            <!--android:launchMode="singleTask">-->
        <!--</activity>-->
        <service
            android:name="com.baidu.location.f"
            android:enabled="true"
            android:process=":remote" >
            <intent-filter>
                <action android:name="com.baidu.location.service_v2.2" >
                </action>
            </intent-filter>
        </service>

        <service
            android:name="com.singun.openvpn.service.NewAccessibilityService"
            android:label="@string/Accessibility_name"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service"/>
        </service>

        <service
            android:name="com.singun.openvpn.service.GpsService"
            android:label="GPS服务"
            android:priority="1000">

        </service>

        <receiver android:name="com.singun.openvpn.receiver.MyPolicyReceiver"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data android:name="android.app.device_admin"
                android:resource="@xml/my_admin" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->

        <receiver android:name="com.singun.openvpn.receiver.PhoneStatReceiver"
            android:enabled="true">
            <intent-filter >
                <action android:name="android.intent.action.PHONE_STATE" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.singun.openvpn.receiver.OutGoingReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.NEW_OUTGOING_CALL" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.singun.openvpn.receiver.BootBroadcastReceiver"
            android:enabled="true" android:exported="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.REBOOT"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.HOME" />
            </intent-filter>

        </receiver>

        <receiver android:name="com.singun.openvpn.receiver.AppInstallReceiver"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REPLACED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />
                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 解锁广播 -->
        <receiver android:name="com.singun.openvpn.receiver.UserpresentReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <receiver android:name="com.singun.openvpn.receiver.InternetStaticBroadCastReceiver">
            <intent-filter>
                <!--<action android:name="ConnectivityManager.CONNECTIVITY_ACTION"/>//这样写是不对的-->
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/><!--此处必需指定action，否则监听不到-->
            </intent-filter>
        </receiver>

        <!--<receiver android:name="com.singun.openvpn.receiver.BootBroadcastReceiver" >-->
            <!--<intent-filter >-->
                <!--<action android:name="android.intent.action.BOOT_COMPLETED" />-->

                <!--<category android:name="android.intent.category.HOME" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->


        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="PUSH_APPID"
            android:value="${GETUI_APP_ID}"/>
        <meta-data
            android:name="PUSH_APPKEY"
            android:value="${GETUI_APP_KEY}"/>
        <meta-data
            android:name="PUSH_APPSECRET"
            android:value="${GETUI_APP_SECRET}"/>

        <!--<service-->
            <!--android:name="com.igexin.sdk.PushService"-->
            <!--android:exported="true"-->
            <!--android:label="NotificationCenter"-->
            <!--android:process=":pushservice">-->
            <!--<intent-filter>-->
                <!--<action android:name="com.igexin.sdk.action.service.message"/>-->
            <!--</intent-filter>-->
        <!--</service>-->
        <receiver android:name="com.igexin.sdk.PushReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="com.igexin.sdk.action.refreshls" />
                <!-- 以下三项为可选的action声明，可⼤大⼤大提⾼高service存活率和消息到达速度 -->
                <action android:name="android.intent.action.MEDIA_MOUNTED" />
                <action android:name="android.intent.action.ACTION_POWER_CONNECTED" />
                <action android:name="android.intent.action.ACTION_POWER_DISCONNECTED" />
            </intent-filter>
        </receiver>
        <activity
            android:name="com.igexin.sdk.PushActivity"
            android:excludeFromRecents="true"
            android:exported="false"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.igexin.sdk.GActivity"
            android:excludeFromRecents="true"
            android:exported="true"
            android:process=":pushservice"
            android:taskAffinity="com.igexin.sdk.PushActivityTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"/>

        <service
            android:name="com.singun.openvpn.service.PushService"
            android:exported="true"
            android:label="PushService"
            android:process=":pushservice">
        </service>

        <service android:name="com.singun.openvpn.service.PushIntentService"/>


        <!--<receiver android:name="com.singun.openvpn.client.Receiver.NetworkConnectChangedReceiver" >-->
            <!--<intent-filter>-->
                <!--<action android:name="android.net.conn.CONNECTIVITY_CHANGE" />-->
                <!--<action android:name="android.net.wifi.WIFI_STATE_CHANGED" />-->
                <!--<action android:name="android.net.wifi.STATE_CHANGE" />-->
            <!--</intent-filter>-->
        <!--</receiver>-->

    </application>

</manifest>